
   .header {
	   position: fixed;
        left: 0;
        right: 0;
        top: 0;
		display: flex;
        background-color: #262984;
        width: 100%;
        margin: none;
        color: white;
    }
   .subheader {
		position: fixed;
        left: 0px;
        right: 0;
		overflow: hidden;
		white-space: nowrap;
        top: 87px;
		display: flex;
        background-color: gray;
        width: 100%;
		height: 42px; 
        margin: none;
        color: white;
    }
.subheader-menu-itemone {
    text-decoration:none;
    color: white;
    font-weight: bold;
	font-size: 30px;
    margin-left:250px;
}
.subheader-menu-item {
    text-decoration:none;
    color: white;
	padding-left: 50px;
    font-weight: bold;
	font-size: 30px;
}


.main-item {
	  position: fixed;
        left: 150px;
        right: 0;
		 overflow: hidden;
       white-space: nowrap;
        top: 200px;
		display: flex;
        background-color: lightgray;
        width: 100%;
        margin: none;
        color: white;
}

.unu{ top:190px;
font-size:30px; 
}
.doi{ top:240px;
}
.trei{ top:310px;
}
.patru{ top:380px;
}


.left-item {
	  position: fixed;
        left: 20px;
        right: 0;
		 overflow: hidden;
       white-space: nowrap;
       
		display: flex;
        background-color: lightgray;
        width: 170px;
        margin: none;
        color: white;
}



.middle
{
	position: absolute;
        left: 200px;
        right: 0;
	
		font-size:20px;
		 overflow: scroll;
       white-space: nowrap;
        padding-top:10px;
		top: 150px;
		padding-left: 40px;
		color:  grey;
		display: flex;
        background-color:  #e6e6e6;
        width: 100%;
		height: 100%;
		
        margin: none;
        color: white;
	
	
	
}


.floating-header-menu-item {

    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    margin-left: 240px;
    margin-right: 20px;
    margin-top: 10px;
	font-size: 80px;
    margin-bottom:0px;
}
.floating-header-logo {
   position: fixed;
     margin-bottom: 0px;  
   margin-left: 0px;  
}

.floating-header-menu-item p {

    margin: 0px;
}

.floating-header-menu-item a {
    padding: 0;
	
	margin: 0px;
}

input[type=text], input[type=password] , input[type=email], input[type=password2]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid dark-grey;
    box-sizing: border-box;
}


.cancelbtn {
     width: 120px;
	height: 40px;
 padding: 0px;
    background-color: grey;
}



.container {
    padding: 16px;
}


button {
    background-color: blue;
    color: white;padding: 0px;
    margin: 8px 0;
	  
	font-size: 10;
    border: none;
    cursor: pointer;
    width: 120px;
	height: 40px;
}



button:hover {
    opacity: 0.7;
}
a:hover{
    text-decoration: none;
    color: black;
    font-weight: bold;
}



a:link
{text-decoration:none;
}